body {
    color: white;
    background-image: url("../images/star-wars-background.jpg");
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}

h1, h2 {
    padding: 10px 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.character, .your-character {
    float: left;
    background-color: white;
    color: black;
    text-align: center;
    border: solid green 3px;
}

.enemy-character {
    float: left;
    background-color: red;
    color: black;
    text-align: center;
    border: solid black 3px;
}
